<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mlayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <section class="page-header-section style-1" style="background:url(assets/images/page-header.jpg)">
        <div class="container">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title"><h2>DueLove Active Groups</h2></div>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Groups</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="group-page-section padding-tb">
        <div class="container">
            <ul class="group-search">
                <li class="group-count"><p>All Groups</p>
                    <p>36</p></li>
                <li class="group-search-btn">
                    <form action="#"><input type="text" placeholder="Search Group Name...">
                        <div class="input-button"><input type="submit" value="Search Now"></div>
                    </form>
                </li>
            </ul>
            <div class="groups-wrapper">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/013.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A01</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/023.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A02</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/033.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A03</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/041.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A04</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/051.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A05</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/061.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A06</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/071.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A07</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/081.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A08</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/091.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A09</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/101.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A10</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/111.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A11</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="group-item lab-item style-1">
                            <div class="lab-inner d-flex flex-wrap align-items-center p-4">
                                <div class="lab-thumb me-md-4 mb-4 mb-md-0"><img src="picture/121.jpg" alt="img">
                                </div>
                                <div class="lab-content"><h4>Active Group A12</h4>
                                    <p>Colabors atively fabcate best breed and apcations through visionary value </p>
                                    <ul class="img-stack d-flex">
                                        <li><img src="picture/014.png" alt="member-img"></li>
                                        <li><img src="picture/023.png" alt="member-img"></li>
                                        <li><img src="picture/033.png" alt="member-img"></li>
                                        <li><img src="picture/041.png" alt="member-img"></li>
                                        <li><img src="picture/05.png" alt="member-img"></li>
                                        <li><img src="picture/06.png" alt="member-img"></li>
                                        <li class="bg-theme">12+</li>
                                    </ul>
                                    <div class="test"><a href="profile.html" class="lab-btn"><i
                                            class="icofont-users-alt-5"></i>View Group</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paginations">
                    <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
                        <li><a href="#"><i class="icofont-rounded-double-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="d-none d-sm-block"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li class="d-none d-sm-block"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="icofont-rounded-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</th:block>