<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mlayout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <section class="member-page-section">
        <div class="container">
            <div class="member-filter">
                <div class="member-filter-inner">
                    <form action="#" class="filter-form">
                        <div class="gender">
                            <div class="custom-select right w-100"><select name="gender" id="gender" class="">
                                <option value="0">I am a</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select></div>
                        </div>
                        <div class="person">
                            <div class="custom-select right w-100"><select name="gender" id="gender-two" class="">
                                <option value="0">Looking for</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select></div>
                        </div>
                        <div class="age">
                            <div class="right d-flex justify-content-between w-100">
                                <div class="custom-select"><select name="age-start" id="age">
                                    <option value="1">18</option>
                                    <option value="2">19</option>
                                    <option value="3">20</option>
                                    <option value="4">21</option>
                                    <option value="5">22</option>
                                    <option value="6">23</option>
                                    <option value="7">24</option>
                                    <option value="8">25</option>
                                    <option value="9">26</option>
                                    <option value="10">27</option>
                                    <option value="11">28</option>
                                    <option value="13">29</option>
                                    <option value="14">30</option>
                                </select></div>
                                <div class="custom-select"><select name="age-end" id="age-two">
                                    <option value="1">36</option>
                                    <option value="2">19</option>
                                    <option value="3">20</option>
                                    <option value="4">21</option>
                                    <option value="5">22</option>
                                    <option value="6">23</option>
                                    <option value="7">24</option>
                                    <option value="8">25</option>
                                    <option value="9">26</option>
                                    <option value="10">27</option>
                                    <option value="11">28</option>
                                    <option value="13">29</option>
                                    <option value="14">30</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="city">
                            <div class="custom-select right w-100"><select name="country" id="country" class="">
                                <option value="0">Choose Your Country</option>
                                <option value="1">USA</option>
                                <option value="2">UK</option>
                                <option value="3">Spain</option>
                                <option value="4">Brazil</option>
                                <option value="5">France</option>
                                <option value="6">Newzeland</option>
                                <option value="7">Australia</option>
                                <option value="8">Bangladesh</option>
                                <option value="9">Turki</option>
                                <option value="10">Chine</option>
                                <option value="11">India</option>
                                <option value="12">Canada</option>
                            </select></div>
                        </div>
                        <button class="lab-btn" type="submit">Search now <i class="icofont-search-2"></i></button>
                    </form>
                </div>
            </div>
            <div class="member-wrapper">
                <ul class="member-info mb-4">
                    <li class="all-member"><p>All Members </p>
                        <p>20 365 587</p></li>
                    <li class="member-cat">
                        <div class="custom-select right w-100"><select name="member" id="member-cat" class="">
                            <option value="0">Newest Registerd</option>
                            <option value="1">Oldest</option>
                            <option value="2">Popular</option>
                            <option value="3">Most Active</option>
                        </select></div>
                    </li>
                </ul>
                <div class="row g-3 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/01.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Tenma Shyna</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/02.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Maya Statham</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/03.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Cristina Maria</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/04.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Gaurav-Singh</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/05.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Gihan-Fernando</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/06.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/07.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Sweet Admin</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/08.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Gyan-Baffour</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/09.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Zeahra Maria</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/10.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/11.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/12.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/13.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/14.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/15.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/16.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/17.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/18.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/19.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lab-item member-item style-1 style-2">
                            <div class="lab-inner">
                                <div class="lab-thumb"><img src="picture/20.jpg" alt="member-img"></div>
                                <div class="lab-content"><h6><a href="profile.html">Andrea Guido</a></h6>
                                    <p>Active 1 Day</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paginations">
                    <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
                        <li><a href="#"><i class="icofont-rounded-double-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="d-none d-sm-block"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li class="d-none d-sm-block"><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="icofont-rounded-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</th:block>